// Body
$body-bg: #333;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Form fields
$form-select-bg: white;

$input-bg: white;

//Navbar
$dropdown-bg: white;

//Table
$table-color: white;

//Tabs
$nav-link-color: #334279;
$nav-tabs-link-active-bg:  #C5C5C5;

