// Body
$body-bg: #333;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Form fields
$form-select-bg: white;
$input-bg: white;

//Navbar
$dropdown-bg: white;

//Table
$table-color: white;
$row-height-persona-table: 20px;

//Tabs
$nav-link-color: #334279;
$nav-tabs-link-active-bg:  #C5C5C5;

// Pagination
$pagination-button: #7AA5E9;

.select-pagination {
    color: $pagination-button;
    background-color: $body-bg;
    border-style:none;
}

.pagination-controller i{
    color: $pagination-button;
}

.row-persona-table{
    height: $row-height-persona-table;
}