/*Body*/
.logo-default {
    font-family: "Revalia";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.bg-default {
    background-color: #334279;
}
    
.card {
    color:white;
}

p, label {
    color: var(--bs-white);
}

label {
    font-weight: bold;
}

hr {
    color:  var(--bs-white);
}

h1, h2, h3, h4, h5 {
    color: var(--bs-white);
}

/*Form*/
.searchbar {
    margin-bottom: 40px;
    padding: 20px;
    background-color:#334279;
    color: white;
    border-radius: 12px;
}

.searchbar-title {
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
}

.search-fields {
    display: flex;
    justify-content: space-between; /* Distribute items evenly with a gap between them */
    align-items: stretch; /* Stretch items to fill the container's height */
}

.search-fields .form-field:not(:last-child) {
    flex: 1; /* Make items grow to fill available space equally */
    margin-right: 20px; /* Add a gap of 20px between items */
}

.form-actions {
    margin-top: 20px;
    text-align: right;
}

.form-actions button:not(:last-child){
    margin-right: 20px;
}

button i, a i {
    margin-right: 8px;
}

/*Table*/

thead {
    --bs-table-bg: #334279;
}

.table th, .table td {
    padding: 16px;
}

.table i {
    margin-left: 4px;
}

/* Style for elements with tooltips */
a[data-bs-toggle="tooltip"] span {
    border-bottom: 1px dashed; /* Adjust the width and style of the border as needed */
    text-decoration: none;
    color: var(--bs-white);
}

a[data-bs-toggle="tooltip"] {
    text-decoration: none;
    color: var(--bs-white);
}

.custom-tooltip {
    --bs-tooltip-bg: #334279;
    --bs-tooltip-color: var(--bs-white);
}

/* Demon show */
.demon-title {
    font-family: "Revalia";
    color: var(--bs-white);
}

.demon-portrait {
    border: 5px solid;
    border-color: #C5C5C5;
    width: 100%;
}

/* Tabs */
.nav-tabs .nav-item {
    background: #C5C5C5;
    border-radius: 12px 12px 0px 0px;
}

.nav-tabs {
    border-bottom: none; /* Remove border between tabs and tab content */
}

.nav-tabs .nav-link {
    position: relative;
    border: none;
}

.nav-tabs .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0; /* Initially set width to 0 so the underline is not visible */
    height: 4px; /* Height of the underline */
    background-color: #334279; /* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition effect */
    border: none;
}

.nav-tabs .nav-link.active::after {
    width: 100%; /* Make the underline cover the entire width of the active tab */
    border: none;
}


