/*Body*/
.logo-default {
    font-family: "Revalia";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.bg-default {
    background-color: #334279;
}
    
.card {
    color:white;
}

p, label {
    color: var(--bs-white);
}

label {
    font-weight: bold;
}

hr {
    color:  var(--bs-white);
}

/*Form*/
.searchbar {
    margin-bottom: 40px;
    padding: 20px;
    background-color:#334279;
    color: white;
    border-radius: 12px;
}

.searchbar-title {
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
}

.search-fields {
    display: flex;
    justify-content: space-between; /* Distribute items evenly with a gap between them */
    align-items: stretch; /* Stretch items to fill the container's height */
}

.search-fields .form-field:not(:last-child) {
    flex: 1; /* Make items grow to fill available space equally */
    margin-right: 20px; /* Add a gap of 20px between items */
}

.form-actions {
    margin-top: 20px;
    text-align: right;
}

.form-actions button:not(:last-child){
    margin-right: 20px;
}

button i {
    margin-right: 8px;
}

/*Table*/

thead {
    --bs-table-bg: #334279;
}

.table th, .table td {
    padding: 16px;
}

/* Style for elements with tooltips */
a[data-bs-toggle="tooltip"] span {
    border-bottom: 1px dashed; /* Adjust the width and style of the border as needed */
    text-decoration: none;
    color: var(--bs-white);
}

a[data-bs-toggle="tooltip"] {
    text-decoration: none;
    color: var(--bs-white);
}

.custom-tooltip {
    --bs-tooltip-bg: #334279;
    --bs-tooltip-color: var(--bs-white);
}

/* Demon show */
.demon-title {
    font-family: "Revalia";
    color: var(--bs-white);
}